<h1>{{post.title}}</h1>
<h4>created by {{post.user.username}} on {{format_date post.created_at}}</h4>
<p class="post-content">{{post.post_content}}</p>
{{#if loggedIn}}
<form class="comment-form">
    <div>
        <textarea name="comment-body"></textarea>
    </div>

    <div>
        <button type="submit">add comment</button>
    </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}